body {
	background: navajowhite; 
	color: midnightblue;
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
	margin: 30px;
}

#bg_image {
	background: url("../img/pata_cao.png");
	background-size: 10%;
	inset: 0 0 0 0;
	position: fixed;
	opacity: 0.05;
	z-index: -1;
}

#titulo {
	text-align: center;
}

select {
	display: block;
	margin-inline: auto;
}

#card {
	background-color: navajowhite;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
	flex-direction: row;
	margin-top: 20px;
	overflow: clip;
}

#img_cao {
	animation: fadeIn 2s;
	max-width: 60%;
}

@media (max-width: 800px){
	#card {
		align-items: center;
		flex-direction: column;
		margin-top: 20px;
	}

	#img_cao {
		max-width: 100%;
	}
}

#c-loader {
	animation: fadeIn 3s, is-rotating 1s infinite;
	border: 6px solid #e5e5e5;
	border-radius: 50%;
	border-top-color: MidnightBlue;
	margin-left: 20px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

#desc_cao {
	font-size: 17px;
	line-height: 1.5;
	padding: 10px;
	max-width: 90%;
	text-align: center;
}