body {
	font-family: "Perpetua", "Baskerville", "Big Caslon", "Palatino Linotype", "Palatino", serif;
	background-color: NavajoWhite;
	color: MidnightBlue;
}

#titulo {
	text-align: center;
}

#selecao_caes {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

@media (max-width: 800px){
	.flex-container {
		flex-direction: column;
		margin: auto;
		margin-top: 20px;
	}
}

#img_cao {
	margin-left: 20px;
	margin-right: 10px;
	max-width: 70%;
	border-radius: 5px;
}

#desc_cao {
	margin-left: 10px;
	margin-right: 20px;
	text-align: center;
	line-height: 1.5;
	font-size: 17px;
}